*.o
*.a
*.out
*_TESTS
.vscode
vgcore*
*.gcda
*.gcno
**/tests/units
\#*#
*~
build.txt
coverage-litteral.txt
coverage.xml
report.xml
coding-style.txt
trace.txt
.idea/
/zia
cmake-*
/build
/build_win
/*_units
/Testing/
/Debug/
/Release/
/modules/*.so
/modules/*.dll
/modules/*.dylib
/ssl/*.pem
/.vs/
/build_win/
